# AgregaciÃ³n de datos por categoria.

In [1]:
import numpy as np
import pandas as pd

In [9]:
#Creamos las variables con contenido de lista donde obtendra los valores.
gender = ['Male', 'Female']
income = ['Poor', 'Middle Class', 'Rich']

In [10]:
#Creamos una variable vacias que es donde se agregaran los datos random y n que son 500 filas que agregara.
n = 500
gender_data = []
income_data = []

#Creamos un ciclo para agregar de manera random valores a las variables en un rango de 0 a 500.
for i in range(0,500):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [11]:
#Imprimimos los primeros 10 valores de la lista que se creo aleatoriamente.
gender_data [1:10]

['Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male']

In [12]:
#Imprimimos los primeros 10 valores de la lista que se creo aleatoriamente.
income_data [1:10]

['Rich',
 'Rich',
 'Middle Class',
 'Middle Class',
 'Middle Class',
 'Rich',
 'Rich',
 'Middle Class',
 'Poor']

In [29]:
#Z --> N(0,1)
#N(m, s) --> m + s * z
height = 160 + 30 * np.random.randn(n)
weight = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.randn(n)

In [30]:
data = pd.DataFrame(
    {
        'Gender' : gender_data,
        'Economic Status' : income_data,
        'Height' : height,
        'Weight' : weight,
        'Age' : age,
        'Income' : income
    }
)

In [31]:
data.head()

   Gender Economic Status      Height     Weight        Age        Income
0    Male    Middle Class  167.314725  39.351784  27.124406  19877.952724
1    Male            Rich  183.565282  66.310197  38.795281  21578.512431
2    Male            Rich  200.589157  71.981591  17.964040  17235.926146
3  Female    Middle Class  152.856501  64.809238  16.829973  22499.069971
4    Male    Middle Class  157.190055  60.202557  25.635513  14391.526047